ia-env
tp1/degrees/__pycache__
tp2/problema2-buscaminas/minesweeper/__pycache__
tp3/nim/__pycache__
tp4/problema1-trafico/traffic/__pycache__
tp4/problema1-trafico/traffic/tp4-env
tp4/problema1-trafico/traffic/gtsrb
tp4/problema1-trafico/traffic/gtsrb-small
